.script {
    border: 1px solid rebeccapurple;
    width: 400px;
    height: 400px;
}
.script-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}
